<div class="main-div">
    <form class="example-form" name="login-form">
      <h2 class="mat-h2">Login</h2>
        <label>Username</label>
        <input #userIn="ngModel" type="text" matInput id="login" [(ngModel)]="name" name="login-in" required>

        <label>Password</label>
        <input #passIn="ngModel" type="password" matInput id="password-in" [(ngModel)]="password" name="password" required>

      <button (click)="login()" color="primary" class="button" >
        Login
      </button>
      <error *ngIf="badLogin">Invalid login!</error>
    </form>

</div>
