<div *ngIf="selectedRental">
  <h2>
    {{selectedRental.id}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<label>Page size:
  <input #size/>
  <br/>
</label>
<label>Page Number:
  <input #number/>
  <br/>
</label>
<label>Filter by Year:
  <input #year/>
  <br/>
</label>
<form>
  <mat-form-field>
    <mat-label>Select column you want to sort by</mat-label>
    <select [(ngModel)]="selectedColumn" name="column">
      <option>id</option>
      <option>clientID</option>
      <option>movieID</option>
      <option>day</option>
      <option>month</option>
      <option>year</option>
    </select>
  </mat-form-field>
  <p> Selected column: {{selectedColumn}} </p>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <select matNativeControl [(ngModel)]="selectedDirection" name="direction">
      <option>Asc</option>
      <option>Desc</option>
    </select>
  </mat-form-field>
  <p> Selected Direction: {{selectedDirection}} </p>
</form>
<button id="sortBack" (click)="goBack()">Back</button>
<button id="sortDelete" (click)="sortDelete()">Sort Delete</button>
<button id="sortBuild" (click)="sortBuild()">Sort Build</button>
<button id="sort" (click)="sortRentals()">Sort Rentals</button>
<button id="filterBy" (click)="filterBy(year.value)">Filter By Title Name</button>
<button id="paginatedBack" (click)="goBack()">Back</button>
<button id="paginated" (click)="getRentalsPaginated(number.value,size.value)">
  Get Page
</button>
<h2>Rentals</h2>
<ol class="rentals">
  <li *ngFor="let rental of rentals "
      [class.selected]="rental === selectedRental"
      (click)="onSelect(rental)">
    {{rental.id}}

    <button
      [class.delete]="true"
      (click)="deleteRental(rental);$event.stopPropagation()">delete
    </button>
  </li>
</ol>
